<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Блог =&lt;&lt; akru :: $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/buttondown.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">Блог =&lt;&lt; akru</a>
            </div>
            <nav>
                <a href="/cjdns.html">CJDNS</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            Gen by <a href="http://jaspervdj.be/hakyll">Hakyll</a>
        </footer>
    </body>
</html>
