<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <title>Блог =&lt;&lt; akru :: $title$</title>

        <!-- Stylesheets. -->
        <link rel="stylesheet" type="text/css" href="/style.css" />

        <!-- Metadata. -->
        <meta name="keywords" content="Alexander Krupenkin,blog,programming,coding,haskell,function,networking,mesh,blockchain,mesh,personal,homepage"/>
        <meta name="description" content="Personal home page and blog of Alexander Krupenkin."/>
    </head>
    <body>
        <div id ="navigation">
            <h1>akru.me</h1>
            <a href="/">Главная</a>
            <a href="/posts.html">Архив</a>
            <a href="/cjdns.html">CJDNS</a>
            <h1>Ссылки</h1>
            <a href="http://github.com/akru">GitHub</a>
        </div>

        $body$

    </body>
</html>
